IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 120
AlwaysBreakAfterDefinitionReturnType: TopLevel
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true